#!/bin/bash

TESTING=true

OS={{ ansible_distribution | lower }}
OSVER={{ ansible_distribution_release | lower }}

HOSTNAME={{ ansible_hostname }}
BNICS={{ securityonion_bonding_nic }}
MNIC={{ securityonion_management_nic }}

ADMINUSER={{ securityonion_adminuser }}
ADMINPASS1={{ securityonion_adminpassword }}
ADMINPASS2={{ securityonion_adminpassword }}
ALLOW_CIDR={{ securityonion_allow_cidr }}
ALLOW_ROLE={{ securityonion_allow_role }}
install_type={{ securityonion_install_type }}

address_type=DHCP

BASICZEEK=2
BASICSURI=2
ZEEKVERSION=ZEEK
# CURCLOSEDAYS=
# EVALADVANCED=BASIC
# HELIXAPIKEY=
HNMANAGER=10.0.0.0/8,192.168.0.0/16,172.16.0.0/12
HNSENSOR=inherit
MANAGERADV=BASIC
NIDS=Suricata
NODESETUP=NODEBASIC
NSMSETUP=BASIC
NODEUPDATES=MANAGER
# OINKCODE=

{%+ if securityonion_osquery %}OSQUERY=1{% endif +%}
{%+ if securityonion_strelka %}STRELKA=1{% endif +%}
{%+ if securityonion_thehive %}THEHIVE=1{% endif +%}
{%+ if securityonion_wazuh %}WAZUH=1{% endif +%}
{%+ if securityonion_playbook %}PLAYBOOK=1{% endif +%}
{%+ if securityonion_grafana %}GRAFANA=1{% endif +%}

PATCHSCHEDULENAME=auto

REDIRECTINFO=IP
RULESETUP=ETOPEN

SOREMOTEPASS1={{ securityonion_adminpassword }}
SOREMOTEPASS2={{ securityonion_adminpassword }}
WEBUSER={{ securityonion_adminemail }}
WEBPASSWD1={{ securityonion_adminpassword }}
WEBPASSWD2={{ securityonion_adminpassword }}
SKIP_REBOOT=1
